<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url-Short Page</title>
</head>

<body>
    <form action="/shorten" method="POST">
        <label for="">Enter the Url : </label>

        <input type="text" 
        name="orginalUrl" 
        placeholder="https://example.com">

        <button type="submit">submit</button>
    </form>
</body>

</html>