<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url-Short Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar">
        <h2>Snap<span>Link</span></h2>
    </nav>
    <form action="/shorten" method="POST" class="card">
        <label for="">Enter the Url : </label>

        <input type="text" name="orginalUrl" placeholder="https://example.com" required>

        <button class="btn" type="submit">submit</button>

 <div>
    <% if (shortUrl) { %>

        <h3>Your Short URL:</h3>

        <a href="<%= shortUrl %>">
            <%= shortUrl %>
        </a>

    <% } %>
</div>


    </form>
<script src="/script/script.js"></script>
</body>

</html>